@font-face {
  font-family: "iconfont"; /* Project id 2921605 */
  src: url('//res.winbaoxian.com/ali-iconfont/c/font_2921605_uatv9twnxne.woff2?t=1664420987006') format('woff2'),
       url('//at.alicdn.com/t/c/font_2921605_uatv9twnxne.woff?t=1664420987006') format('woff'),
       url('//at.alicdn.com/t/c/font_2921605_uatv9twnxne.ttf?t=1664420987006') format('truetype');
}

.iconfont, .icon {
  font-family: "iconfont" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down_fill:before {
  content: "\e92b";
}

.icon-add_circle:before {
  content: "\e6b2";
}

.icon-add:before {
  content: "\e6b3";
}

.icon-arrows_down:before {
  content: "\e6b4";
}

.icon-arrows_right:before {
  content: "\e6b5";
}

.icon-arrows_up:before {
  content: "\e6b6";
}

.icon-arrows_left:before {
  content: "\e6b7";
}

.icon-calendar:before {
  content: "\e6b8";
}

.icon-choose_done_line:before {
  content: "\e6b9";
}

.icon-choose_done_surface:before {
  content: "\e6ba";
}

.icon-choose_done:before {
  content: "\e6bb";
}

.icon-choose_none_line:before {
  content: "\e6bc";
}

.icon-close_circle_line:before {
  content: "\e6bd";
}

.icon-close_circle_surface:before {
  content: "\e6be";
}

.icon-close_line:before {
  content: "\e6bf";
}

.icon-collect_line:before {
  content: "\e6c0";
}

.icon-collect_surface:before {
  content: "\e6c1";
}

.icon-delete_cell:before {
  content: "\e6c2";
}

.icon-download:before {
  content: "\e6c3";
}

.icon-edit:before {
  content: "\e6c4";
}

.icon-help:before {
  content: "\e6c6";
}

.icon-more_circle:before {
  content: "\e6cb";
}

.icon-more_point:before {
  content: "\e6cc";
}

.icon-play_line:before {
  content: "\e6ce";
}

.icon-play_surface:before {
  content: "\e6cf";
}

.icon-reduce_circle:before {
  content: "\e6d2";
}

.icon-reduce:before {
  content: "\e6d4";
}

.icon-refresh:before {
  content: "\e6d5";
}

.icon-search_line:before {
  content: "\e6d6";
}

.icon-share:before {
  content: "\e6d8";
}

.icon-suspend:before {
  content: "\e6d9";
}

.icon-setup:before {
  content: "\e6da";
}

.icon-news:before {
  content: "\e6e6";
}

.icon-make_money_line:before {
  content: "\e6f6";
}

.icon-make_money_surface:before {
  content: "\e701";
}

.icon-delete_rubbish:before {
  content: "\e703";
}

.icon-scan:before {
  content: "\e704";
}

.icon-notify:before {
  content: "\e705";
}

.icon-camera:before {
  content: "\e708";
}

.icon-add_image_after:before {
  content: "\e709";
}

.icon-add_image:before {
  content: "\e70c";
}

.icon-approve_after:before {
  content: "\e710";
}

.icon-approve:before {
  content: "\e713";
}

.icon-menu_learn:before {
  content: "\e71c";
}

.icon-location:before {
  content: "\e71d";
}

.icon-play_circle:before {
  content: "\e726";
}

.icon-history:before {
  content: "\e74e";
}

.icon-multiple_choice:before {
  content: "\e755";
}

.icon-back_play:before {
  content: "\e756";
}

.icon-direction_left:before {
  content: "\e761";
}

.icon-direction_right:before {
  content: "\e762";
}

.icon-add_attention:before {
  content: "\e76b";
}

.icon-associator_packet:before {
  content: "\e774";
}

.icon-arrow_down:before {
  content: "\e779";
}

.icon-arrow_page:before {
  content: "\e77c";
}

.icon-mirror:before {
  content: "\e79d";
}

.icon-download1:before {
  content: "\e79e";
}

.icon-ticket_surface:before {
  content: "\e7a4";
}

.icon-feedback:before {
  content: "\e7c8";
}

.icon-circle_fill:before {
  content: "\e7cd";
}

.icon-arrow_top:before {
  content: "\e80b";
}

.icon-documents:before {
  content: "\e800";
}

.icon-conversion:before {
  content: "\e80f";
}

.icon-download_fill:before {
  content: "\e7d3";
}

.icon-edit1:before {
  content: "\e7f2";
}

.icon-copy:before {
  content: "\e7b9";
}

.icon-arrow_right_fill:before {
  content: "\e81e";
}

.icon-history_fill:before {
  content: "\e80c";
}

.icon-Pause1:before {
  content: "\e81f";
}

.icon-play_fill:before {
  content: "\e813";
}

.icon-more_circle_left1:before {
  content: "\e83a";
}

.icon-voiceclose:before {
  content: "\e857";
}

.icon-voiceopen:before {
  content: "\e858";
}

.icon-close_line_b:before {
  content: "\e871";
}

.icon-share_bold:before {
  content: "\e88c";
}

.icon-edit2:before {
  content: "\e812";
}

.icon-record_line:before {
  content: "\e89b";
}

.icon-checkbox_sys:before {
  content: "\e89c";
}

.icon-checkbox_default_sys:before {
  content: "\e89d";
}

.icon-weibiaoti-5-01:before {
  content: "\e8a6";
}

.icon-weibiaoti-6-01:before {
  content: "\e8a7";
}

.icon-weibiaoti-7-01:before {
  content: "\e8a8";
}

.icon-weibiaoti-8-01:before {
  content: "\e8a9";
}

.icon-arrow_line:before {
  content: "\e8c8";
}

.icon-search:before {
  content: "\e89e";
}

.icon-ticket_line_b:before {
  content: "\e8e2";
}

.icon-setting:before {
  content: "\e877";
}

.icon-back:before {
  content: "\e876";
}

.icon-forward:before {
  content: "\e88f";
}

.icon-down:before {
  content: "\e8e3";
}

.icon-install_line:before {
  content: "\e906";
}

.icon-back_line:before {
  content: "\e909";
}

.icon-write_line:before {
  content: "\e8a1";
}

.icon-delete:before {
  content: "\e8fd";
}

.icon-switch_line:before {
  content: "\e910";
}

.icon-arrow:before {
  content: "\e912";
}

.icon-approve_line_b:before {
  content: "\e917";
}

.icon-add_fill:before {
  content: "\e91a";
}

.icon-a-collect_line_b_huaban1:before {
  content: "\e91b";
}

.icon-a-collect_fill_huaban1:before {
  content: "\e91c";
}

.icon-123-011:before {
  content: "\e8ed";
}

.icon-a-calendar_huaban1:before {
  content: "\e91d";
}

.icon-arrow_up_fill:before {
  content: "\e92a";
}

