@font-face {
  font-family: "iconfont"; /* Project id 2607384 */
  src: url('//res.winbaoxian.com/ali-iconfont/font_2607384_ql7dfkp013h.woff2?t=1630549189981') format('woff2'),
       url('//at.alicdn.com/t/font_2607384_ql7dfkp013h.woff?t=1630549189981') format('woff'),
       url('//at.alicdn.com/t/font_2607384_ql7dfkp013h.ttf?t=1630549189981') format('truetype');
}

.iconfont, .icon {
  font-family: "iconfont" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_up_fill:before {
  content: "\e92a";
}

.icon-arrow_down_fill:before {
  content: "\e92b";
}

.icon-conversion:before {
  content: "\e80f";
}

.icon-_huaban:before {
  content: "\e83e";
}

.icon-card_fill:before {
  content: "\e7a5";
}

.icon-add:before {
  content: "\e6b3";
}

.icon-arrows_down:before {
  content: "\e6b4";
}

.icon-arrows_right:before {
  content: "\e6b5";
}

.icon-choose_done_surface:before {
  content: "\e6ba";
}

.icon-choose_none_line:before {
  content: "\e6bc";
}

.icon-more_circle_2:before {
  content: "\e6cb";
}

.icon-phone_line:before {
  content: "\e6cd";
}

.icon-good_line:before {
  content: "\e6e8";
}

.icon-me_surface:before {
  content: "\e6ef";
}

.icon-phone_surface:before {
  content: "\e71e";
}

.icon-wechat_surface:before {
  content: "\e720";
}

.icon-good_surface:before {
  content: "\e72c";
}

.icon-weichat:before {
  content: "\e752";
}

.icon-multiple_choice:before {
  content: "\e753";
}

.icon-arrow_page:before {
  content: "\e77c";
}

.icon-business_card:before {
  content: "\e785";
}

.icon-arrow_right_fill:before {
  content: "\e81e";
}

.icon-thumbup_fill:before {
  content: "\e885";
}

.icon-forward:before {
  content: "\e88d";
}

.icon-lock_line_bb:before {
  content: "\e89a";
}

.icon-dd_bill:before {
  content: "\e8a0";
}

