@font-face {
  font-family: "iconfont"; /* Project id 4337802 */
  src: url('//res.winbaoxian.com/ali-iconfont/c/font_4337802_bpezdq4qcvg.woff2?t=1701843059216') format('woff2'),
       url('//at.alicdn.com/t/c/font_4337802_bpezdq4qcvg.woff?t=1701843059216') format('woff'),
       url('//at.alicdn.com/t/c/font_4337802_bpezdq4qcvg.ttf?t=1701843059216') format('truetype');
}

.iconfont, .icon {
  font-family: "iconfont" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close_line_b:before {
  content: "\e871";
}

.icon-search_line:before {
  content: "\e6d6";
}

.icon-slide:before {
  content: "\e93c";
}

.icon-dd_add:before {
  content: "\e890";
}

.icon-reduce_b:before {
  content: "\e946";
}

.icon-back_line:before {
  content: "\e909";
}

.icon-location:before {
  content: "\e71d";
}

.icon-phone_surface:before {
  content: "\e71e";
}

.icon-wechat_surface:before {
  content: "\e722";
}

.icon-dialog_fill:before {
  content: "\e7b4";
}

.icon-invitation_fill:before {
  content: "\e7b1";
}

.icon-download_surface:before {
  content: "\e836";
}

.icon-back:before {
  content: "\e876";
}

.icon-forward:before {
  content: "\e88f";
}

.icon-down:before {
  content: "\e8e3";
}

.icon-123-011:before {
  content: "\e8ed";
}

.icon-a-start_huaban1:before {
  content: "\e931";
}

