@font-face {
  font-family: "iconfont"; /* Project id 5165506 */
  src: url('//res.winbaoxian.com/ali-iconfont/c/font_5165506_p8nm66u0fd.woff2?t=1776825277934') format('woff2'),
       url('//at.alicdn.com/t/c/font_5165506_p8nm66u0fd.woff?t=1776825277934') format('woff'),
       url('//at.alicdn.com/t/c/font_5165506_p8nm66u0fd.ttf?t=1776825277934') format('truetype');
}

.iconfont, .icon {
  font-family: "iconfont" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share_bold:before {
  content: "\e88c";
}

.icon-dd_add:before {
  content: "\e890";
}

.icon-comment_b:before {
  content: "\e8f2";
}

.icon-share_line_b:before {
  content: "\e916";
}

.icon-comment_line_b:before {
  content: "\e918";
}

.icon-image_line:before {
  content: "\e924";
}

.icon-aivideo_line:before {
  content: "\e95c";
}

.icon-brochures_line:before {
  content: "\e97a";
}

.icon-arrows_down:before {
  content: "\e6b4";
}

.icon-arrows_right:before {
  content: "\e6b5";
}

.icon-arrows_up:before {
  content: "\e6b6";
}

.icon-arrows_left:before {
  content: "\e6b7";
}

.icon-choose_done_line:before {
  content: "\e6b9";
}

.icon-choose_done_surface:before {
  content: "\e6ba";
}

.icon-close_circle_line:before {
  content: "\e6bd";
}

.icon-close_line:before {
  content: "\e6bf";
}

.icon-collect_line:before {
  content: "\e6c0";
}

.icon-collect_surface:before {
  content: "\e6c1";
}

.icon-edit:before {
  content: "\e6c4";
}

.icon-phone_line:before {
  content: "\e6cd";
}

.icon-share:before {
  content: "\e6d8";
}

.icon-good_line:before {
  content: "\e6ec";
}

.icon-me_surface:before {
  content: "\e700";
}

.icon-comment:before {
  content: "\e719";
}

.icon-phone_surface:before {
  content: "\e71e";
}

.icon-wechat_surface:before {
  content: "\e722";
}

.icon-good_surface:before {
  content: "\e72c";
}

.icon-add_attention:before {
  content: "\e76b";
}

.icon-business_card:before {
  content: "\e785";
}

.icon-oppse_surface:before {
  content: "\e798";
}

.icon-oppse_line:before {
  content: "\e799";
}

.icon-arrow_right_fill:before {
  content: "\e81e";
}

.icon-close_line_b:before {
  content: "\e871";
}

.icon-thumbup_fill:before {
  content: "\e885";
}

